.foodTruckIcon {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
  position: fixed;
  left: 60%;
  top: 57%;
}

.truckLocation {
  margin: 60px;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 10;
  left: 0;
  background-image: url('../assets/ThemePark.jpeg');
  background-repeat: no-repeat;
  background-position: center;
}
