main {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.homeContainer {
  background-color: rgba(173, 255, 47, 0.4);
}

.foodTruckIcon {
  display: flex;
  flex-direction: column;
  height: 10vh;
  width: 10vh;
  position: fixed;
  left: 65%;
  top: 58%;
  animation: truckMoving 5s linear 2s infinite alternate;
}

.foodBalloon {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/Asset3.png');
  background-size: 45px 70px;
  background-repeat: no-repeat;
  height: 10vh;
  width: 10vh;
  position: fixed;
  animation: balloonMoving 4s linear 0s infinite alternate;
  left: 85%;
  top: 40%;
}

@keyframes balloonMoving {
  0% {
    top: 40%;
  }
  5% {
    top: 38;
  }
  10% {
    top: 36%;
  }
  15% {
    top: 34%;
  }
  20% {
    top: 32%;
  }
  25% {
    top: 30%;
  }
  30% {
    top: 28%;
  }
}

.foodBalloon {
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/Asset3.png');
  background-size: 45px 70px;
  background-repeat: no-repeat;
  height: 10vh;
  width: 10vh;
  position: fixed;
  left: 85%;
  top: 28%;
}

@keyframes truckMoving {
  0% {
    left: 60%;
  }
  5% {
    left: 61%;
  }
  10% {
    left: 62%;
  }
  15% {
    left: 63%;
  }
  20% {
    left: 64%;
  }
  25% {
    left: 65%;
  }
  30% {
    left: 66%;
  }
  35% {
    left: 67%;
  }
  40% {
    left: 68%;
  }
  45% {
    left: 69%;
  }
}

.truckLocation {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  margin: 100px 60px;
  top: 0;
  left: 0;
  background-image: url('../assets/ThemePark.png');
  background-repeat: no-repeat;
  background-position: center;
}

.aboutPage {
  margin: 10px 0;
  padding: 10px;
  width: 60%;
  background-color: #f2a341;
  color: #f24130;
}

.menuDetails {
  background-color: #b8bad9;
  padding: 20px;
  width: 40%;
  margin: 40px;
}

.menuDetails:hover {
  background-color: #b8d9d1;
}

.truckComponent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: 'Bungee', cursive;
}

.inst {
  text-align: left;
}

.cart {
  margin: 10px;
  padding: 50px 0px;
}

.truckDetails {
  color: #f2a516;
  font-family: 'Bungee', cursive;
}

.stars {
  display: flex;
  justify-content: center;
}

a {
  color: #f2522e;
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: #b8d9d1;
  margin: 10px;
}

h2,
h1 {
  font-family: 'Monoton', cursive;
  padding: 0;
  margin: 2px 10px;
}

h3 {
  font-size: 15px;
  margin: 5px;
}

h5 {
  margin: 0;
}

nav {
  font-family: 'Monoton', cursive;
}

ul {
  text-align: left;
}

img {
  width: 80%;
}

button {
  background-color: #f2522e;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}
